
table {
  position: relative;
  margin: 0 auto 20px;
}

tr, td {
  border: 1px solid;
  width: 650px;
  padding: 10px;
  border: 0;
}

.filter-section {
  position: sticky;
  z-index: 1;
  background: #333533;
  max-width: 1280px;
  height: 50px;
  margin: 0 auto 0;
  padding: 20px;
  text-align: center;
  overflow: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.filter-section input, select {
  font-family: "Roboto", sans-serif;
  text-align: center;
  outline: 0;
  color: #9d9b9b;
  background: #2d2c2c; /*#333533*/
  width: 250px;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.filter-section button {
  font-family: "Roboto", sans-serif;
  text-transfilter-section: uppercase;
  outline: 0;
  background: #00126B;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.filter-section button:hover,.filter-section button:active,.filter-section button:focus {
  background: #5b4af2;
}

.filter-section .hour-selector{
  width: 110px;
}


.material-icons {
  position: relative;
  margin-right: 50px;
}

canvas {
  width: 1000px;
  height: 1000px;
}


.flights-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 1280px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
}

.personel-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 1280px;
  padding: 200px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.charts-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 1280px;
  padding: 200px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3e3e; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484948; 
}

body {
  background: #242423;/* fallback for old browsers  #242423*/
  background: rgb(36, 36, 35);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}