table {
  position: relative;
  margin: 0 auto 50px;
}

tr, td {
  border: 1px solid;
  width: 650px;
  padding: 10px;
  border: 0;
}

.flights-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 200px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.personel-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 200px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.charts-panel {
  position: relative;
  z-index: 1;
  background: #333533;
  max-width: 1000px;

  padding: 200px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
  background: #242423;/* fallback for old browsers  #242423*/
  background: rgb(36, 36, 35);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}