.parameters-page {
    width: 1280px;
    padding: 2% 0 0;
    margin: auto;
}

.filter-section {
  position: sticky;
  z-index: 1;
  background: #333533;
  max-width: 1280px;
  height: 50px;
  margin: 0 auto 20px;
  padding: 30px;
  text-align: center;
  overflow: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.filter-section input, select {
  font-family: "Roboto", sans-serif;
  text-align: center;
  outline: 0;
  color: #9d9b9b;
  background: #2d2c2c; /*#333533*/
  width: 250px;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.edit-panel{
    position: relative;
    z-index: 1;
    background: #333533;
    max-width: 1280px;
    height: 480px;
    margin: 0 auto 10px;
    padding: 45px;
    text-align: center;
    overflow: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }

table {
    width: 100%;
    border: 1px solid #333533;
    border-radius: 2px;
 }

 .edit-table input, .position-selector {
    font-family: "Roboto", sans-serif;
    text-align: center;
    outline: 0;
    color: #9d9b9b;
    background: #2d2c2c; /*#333533*/
    width: 100%;
    border: 0;
    margin: 15px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
 }

 .position-selector {
    width: 100%;
   height: 55px;
 }

.edit-table tr:nth-child(even){
    background-color: #383737;
}

th, td{
    color: #9d9b9b;
    margin: 0;
}

input[type="number"] {
    height: 55px;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #484948; 
  }

body {
    background: #242423;/* fallback for old browsers  #242423*/
    background: rgb(36, 36, 35);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
}