<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Apoea - Laats</title>
    <link rel="stylesheet" type="text/css" href="./static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://css.gg/add.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <style>
        .filter-section {
            background-color: {{department_color}};
        }
    </style>
</head>
<body>
    <div class="dashboard-page">
        <div class="filter-section">
            <i class="gg-pen"></i>
            <input class="date-selector" type="date">
            <select class="operator-selector" placeholder="Operador">
                <option value="" disabled selected hidden>Operador</option>
                <option value="">AEROMEXICO</option>
                <option value="">AEROMAR</option>
                <option value="">American</option>
                <option value="">Jet Blue</option>
            </select>
            <select class="flight-selector" placeholder="Vuelo">
                <option value="" disabled selected hidden>Vuelo</option>
            </select>
            <select class="aircraft-selector" placeholder="Aeronave">
                <option value="" disabled selected hidden>Aeronave</option>
            </select>
        </div>
        <div class="panels">
            <table class="canvas">
                <table>
                    <tr>
                        <td>
                            <div class="flights-panel">
                        </td>
                        <td>
                            <div class="personel-panel">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="charts-panel">
                            </div>
                        </td>
                    </tr>
                </table>
            </table>
        </div>
    </div>
</body>
</html>