<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Apoea - Laats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://css.gg/add.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/css/flights.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <style>
        .filter-section {
            background-color: {{department_color}};
        }

        .filter-section input, select{
            color: {{department_color}};
        }
    </style>
</head>
<body>
    <div class="dashboard-page">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <span style="position:sticky; font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>
        <div class="filter-section">
            <form class="filter-form" id="filter-form" method="POST">
                <input class="date-selector" name="date-selector" type="date" value="{{date}}">
                <select class="operator-selector" name="operator-selector" placeholder="Operador">
                    <option value="0" >Operador</option>
                    {% for operator in operators_list %}
                        <option value="{{operator[0]}}">{{operator[1]}}</option>
                    {% endfor %}
                </select>
                <select class="operation-selector" name="operation-selector" placeholder="Tipo operaci&oacute;n">
                    <option value="0">Tipo operaci&oacute;n</option>
                    <option value="TRANSITO">TRANSITO</option>
                    <option value="DESPACHO">DESPACHO</option>
                    <option value="RECEPCION">RECEPCION</option>
                    <option value="PERNOCTA">PERNOCTA</option>
                </select>
                <select class="aircraft-selector" name="aircraft-selector" placeholder="Aeronave">
                    <option value="0">Aeronave</option>
                    {% for aircraft in aircrafts_list %}
                        <option value="{{aircraft[0]}}">{{aircraft[1]}}</option>
                    {% endfor %}
                </select>
                <button name="submit" value="search">Buscar</button>
            </form>
        </div>
        <div class="panels">
            <table class="canvas">
                <table>
                    <tr>
                        <td colspan="2">
                            <h1>Vuelos - {{department}} - {{date}}</h1>
                            <div class="flights-panel">
                                <canvas id="myChart"></canvas>
                            </div>
                        </td>
                    </tr>
                    {% for flight in flights: %}
                    <tr>
                        <td colspan="1">
                            <div class="flight-card">
                                <h1 style="color: rgb(244, 244, 106);">Vuelo: {{flight[7]}}</h1>
                                <h1 style="color: rgb(244, 131, 106);">Aeronave: {{flight[10]}}</h1>
                                <h2>Operador: {{flight[8]}}</h2>
                                <h2>Fecha: {{flight[0]}}-{{flight[1]}}-{{flight[2]}}</h2>
                                <h2>Origen: {{flight[3]}}</h2>
                                <h2>Destino: {{flight[4]}}</h2>
                                <h2>ETA: {{flight[5]}}</h2>
                                <h2>ETD: {{flight[6]}}</h2>                       
                                <form class="flight-form" method="POST" action="/process_flight_data/{{flight[9]}}">
                                    <button>Ir al vuelo</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        
        const data = {
        labels: {{flights_tags | safe}},
        datasets: [{
            label: 'Vuelos de hoy',
            data: {{flights_periods | safe}},
            backgroundColor: [
            'rgba(255, 26, 104, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(0, 0, 0, 0.2)'
            ],
            borderColor: [
            'rgba(255, 26, 104, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1,
            barPercentage: 1
        }]
        };
        // config 
        const config = {
        type: 'bar',
        data,
        options: {  
            maintainAspectRatio: true,
            indexAxis: 'y',
            scales: {
                x: {
                    min: '{{min_time}}',
                    type: 'time',
                    time: {
                        unit: 'hour',
                    },
                    
                },
                y: {
                    beginAtZero: true
                }
            }
        }
        };

        // render init block
        const myChart = new Chart(
        document.getElementById('myChart'),
        config
        ); 
    </script>
</body>
</body>
</html>