<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Apoea - Laats</title>
    <link rel="stylesheet" type="text/css" href="./static/css/parameters.css">
    <script src="./static/js/ui-handler.js"></script>
</head>
<body>
    <div class="parameters-page">
        <div class="edit-panel">
            <table class="edit-table">
                <tr>
                    <td>
                        <select class="position-selector">
                            <option value="">option1</option>
                            <option value="">option2</option>
                            <option value="">option3</option>
                            <option value="">option3</option>
                        </select>
                    </td>
                    <td>
                        <input class="quantity-selector" type="number" step="1" value="0" min="0" max="20">
                    </td>
                    <td>
                        <input class="time-selector" type="time">
                    </td>
                    <td>
                        <input class="time-selector" type="time">
                    </td>
                </tr>                
            </table>
        </div>
    </div>
</body>
</html>