<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Apoea - Laats</title>
    <link rel="stylesheet" type="text/css" href="./static/css/parameters.css">
    <script src="./static/js/ui-handler.js"></script>
</head>
<body>
    <div class="parameters-page">
        <div class="edit-panel">
            <table>
                <tr>
                    <th>Posicion</th>
                    <th>Cantidad</th>
                    <th>Hora inicio</th>
                    <th>Hora final</th>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option value="">option1</option>
                            <option value="">option2</option>
                            <option value="">option3</option>
                            <option value="">option3</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" step="1" value="0">
                    </td>
                    <td>
                        <input type="time">
                    </td>
                    <td>
                        <input type="time">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>